In [1]:
from itertools import permutations

import pandas as pd

from glicko_rating_matches import GlickoSystem, Team

pd.set_option("display.max_columns", None)

In [2]:
def get_team_id(teams_id, team_name):
    return teams_id.loc[teams_id["team"] == team_name, "team_id"].iloc[0]

In [3]:
teams_id = pd.read_csv("./csv/teams_id.csv")
ratings = pd.read_csv(
    "./csv/glicko_rating/glicko_rating_2023.csv", parse_dates=["last_game_date"]
)
teams_id.shape, ratings.shape

((752, 2), (595, 13))

In [4]:
ratings.loc[(ratings["league"] == "LCK") & (ratings["last_game_date"].dt.year == 2023)]

,team,league,games,win,loss,winrate,streak,point,rd,sigma,error,error_square,last_game_date
0,T1,LCK,1430,950,480,0.664336,0,2051.115758,71.683266,0.568172,565.012378,298.512855,2023-05-18 15:20:00
2,Gen.G,LCK,1012,604,408,0.596838,0,1998.436914,70.063434,0.561825,428.769906,227.677031,2023-05-19 14:01:00
4,KT Rolster,LCK,1045,619,426,0.592344,0,1918.340377,71.018463,0.559625,434.152199,230.697547,2023-04-08 09:04:00
7,Dplus KIA,LCK,617,433,184,0.701783,0,1861.164882,71.581888,0.592432,228.490182,119.344572,2023-03-23 10:44:00
11,Hanwha Life Esports,LCK,853,423,430,0.495897,0,1807.642469,69.016406,0.571720,362.689244,191.382484,2023-04-02 09:15:00
17,Liiv SANDBOX,LCK,445,213,232,0.478652,0,1769.155880,69.014914,0.592139,197.313719,104.193254,2023-03-22 10:36:00
42,DRX,LCK,1098,571,527,0.520036,0,1689.232790,61.622956,0.494025,439.096256,225.475688,2023-03-19 09:26:00
47,Kwangdong Freecs,LCK,901,426,475,0.472808,0,1677.604093,61.240961,0.484499,403.073192,215.712447,2023-03-17 09:05:00
98,BRION,LCK,487,176,311,0.361396,0,1604.112090,68.337368,0.491438,200.968887,107.645277,2023-03-17 11:53:00
111,Nongshim RedForce,LCK,297,114,183,0.383838,0,1588.102097,36.706755,0.486656,127.251513,68.753829,2023-03-19 06:52:00

In [5]:
ratings.loc[(ratings["league"] == "LPL") & (ratings["last_game_date"].dt.year == 2023)]

,team,league,games,win,loss,winrate,streak,point,rd,sigma,error,error_square,last_game_date
1,JD Gaming,LPL,719,423,296,0.588317,0,2050.378381,71.817518,0.572468,294.536165,150.271794,2023-05-18 15:20:00
3,Bilibili Gaming,LPL,529,273,256,0.516068,0,1949.952740,69.928869,0.557382,241.781183,126.489030,2023-05-19 14:01:00
9,EDward Gaming,LPL,1191,736,455,0.617968,0,1833.041576,71.958942,0.571624,496.150466,261.452717,2023-04-11 13:07:00
13,LNG Esports,LPL,823,412,411,0.500608,0,1789.394784,72.611305,0.591977,379.864542,202.438995,2023-04-04 12:11:00
18,Oh My God,LPL,1029,474,555,0.460641,0,1765.813370,71.448747,0.559609,436.201612,223.749724,2023-04-08 13:18:00
19,Top Esports,LPL,677,389,288,0.574594,0,1755.243318,72.057753,0.580066,273.738182,139.611063,2023-04-02 12:50:00
27,Weibo Gaming,LPL,557,302,255,0.542190,0,1727.553177,72.560904,0.594536,252.706639,134.949453,2023-04-03 10:59:00
30,Royal Never Give Up,LPL,1143,739,404,0.646544,0,1714.875803,72.461432,0.583447,473.734041,251.142597,2023-04-01 12:05:00
68,ThunderTalk Gaming,LPL,343,127,216,0.370262,0,1648.356344,71.841966,0.592561,138.188066,71.698338,2023-03-30 11:59:00
82,Ninjas in Pyjamas.CN,LPL,364,154,210,0.423077,0,1625.352528,69.439672,0.508782,159.379559,86.977694,2023-03-25 13:00:00
88,Invictus Gaming,LPL,1150,652,498,0.566957,0,1613.912679,66.776922,0.513745,484.511362,255.268090,2023-03-22 12:17:00
100,Team WE,LPL,1107,578,529,0.522132,0,1603.068195,67.016617,0.591783,498.114354,261.714025,2023-03-31 12:05:00
120,FunPlus Phoenix,LPL,656,395,261,0.602134,0,1576.524093,63.827583,0.505594,270.089684,142.634130,2023-03-23 13:00:00
141,Rare Atom,LPL,716,304,412,0.424581,0,1551.128987,61.008658,0.502703,311.742388,162.755901,2023-03-26 13:32:00
151,Anyone's Legend,LPL,524,230,294,0.438931,0,1546.013022,67.809572,0.498225,211.752234,112.398346,2023-03-26 10:18:00
153,LGD Gaming,LPL,835,367,468,0.439521,0,1545.091051,55.680865,0.503466,380.909126,201.633999,2023-03-24 10:08:00
348,Ultra Prime,LPL,272,93,179,0.341912,0,1460.073190,36.890041,0.504139,107.469692,54.187961,2023-03-25 10:43:00

In [6]:
ratings.loc[(ratings["league"] == "LEC") & (ratings["last_game_date"].dt.year == 2023)]

,team,league,games,win,loss,winrate,streak,point,rd,sigma,error,error_square,last_game_date
6,G2 Esports,LEC,1013,578,435,0.570582,0,1861.263937,71.847519,0.564581,399.606113,209.608760,2023-05-16 15:11:00
38,MAD Lions,LEC,676,334,342,0.494083,0,1695.711851,65.737715,0.584468,301.907087,160.869155,2023-05-13 17:05:00
44,Team BDS,LEC,72,30,42,0.416667,0,1680.847413,72.360829,0.582511,30.183166,16.469519,2023-04-23 19:40:00
72,Team Vitality,LEC,386,172,214,0.445596,0,1637.948485,72.005713,0.584933,172.738544,91.498237,2023-04-22 18:48:00
97,Fnatic,LEC,1243,758,485,0.609815,0,1605.252338,72.620249,0.587580,512.537617,271.612358,2023-04-15 17:52:00
119,KOI (Spanish Team),LEC,38,17,21,0.447368,0,1577.540826,60.766348,0.579427,18.129202,10.189942,2023-04-16 19:37:00
122,Astralis,LEC,457,225,232,0.492341,0,1574.429320,71.708896,0.584751,182.310327,92.462197,2023-04-16 17:06:00
148,SK Gaming,LEC,395,184,211,0.465823,0,1546.525845,57.558267,0.591374,186.176098,99.867698,2023-04-15 19:46:00
198,Excel Esports,LEC,173,64,109,0.369942,0,1514.252750,72.256232,0.578864,75.091036,40.440209,2023-03-27 15:58:00
278,Team Heretics,LEC,24,8,16,0.333333,0,1478.673501,66.041777,0.575617,11.151701,5.991388,2023-03-27 21:00:00

In [7]:
ratings.loc[(ratings["league"] == "LCS") & (ratings["last_game_date"].dt.year == 2023)]

,team,league,games,win,loss,winrate,streak,point,rd,sigma,error,error_square,last_game_date
14,Cloud9,LCS,1085,605,480,0.557604,0,1789.030457,59.919346,0.574978,451.609371,233.146775,2023-05-17 13:43:00
29,Golden Guardians,LCS,287,111,176,0.386760,0,1721.214337,70.864262,0.558665,127.402671,67.959464,2023-05-14 16:36:00
39,Evil Geniuses.NA,LCS,366,192,174,0.524590,0,1691.744681,67.619417,0.585426,166.852126,87.636594,2023-03-31 22:45:00
65,FlyQuest,LCS,417,190,227,0.455635,0,1650.145277,70.888778,0.574269,194.618819,102.510722,2023-04-09 00:07:00
87,Team Liquid,LCS,860,496,364,0.576744,0,1614.105039,66.932791,0.554640,373.434404,199.321935,2023-03-17 23:09:00
106,100 Thieves,LCS,444,204,240,0.459459,0,1598.070175,69.785580,0.582777,181.145054,89.932534,2023-03-26 00:23:00
129,Counter Logic Gaming,LCS,696,336,360,0.482759,0,1564.587089,67.193728,0.584382,321.127325,167.945502,2023-03-26 22:57:00
149,TSM,LCS,1153,695,458,0.602775,0,1546.476212,69.017374,0.555351,448.445440,236.088101,2023-03-17 22:08:00
531,Immortals,LCS,337,166,171,0.492582,0,1379.860678,56.593654,0.548881,147.025587,75.752154,2023-03-18 01:18:00
546,Dignitas,LCS,489,206,283,0.421268,0,1369.315275,66.060757,0.548726,227.131221,119.054176,2023-03-18 00:15:00

In [8]:
ratings.loc[
    (ratings["league"].isin(["LCK", "LPL", "LEC", "LCS"]))
    & (ratings["last_game_date"].dt.year == 2023)
]

,team,league,games,win,loss,winrate,streak,point,rd,sigma,error,error_square,last_game_date
0,T1,LCK,1430,950,480,0.664336,0,2051.115758,71.683266,0.568172,565.012378,298.512855,2023-05-18 15:20:00
1,JD Gaming,LPL,719,423,296,0.588317,0,2050.378381,71.817518,0.572468,294.536165,150.271794,2023-05-18 15:20:00
2,Gen.G,LCK,1012,604,408,0.596838,0,1998.436914,70.063434,0.561825,428.769906,227.677031,2023-05-19 14:01:00
3,Bilibili Gaming,LPL,529,273,256,0.516068,0,1949.952740,69.928869,0.557382,241.781183,126.489030,2023-05-19 14:01:00
4,KT Rolster,LCK,1045,619,426,0.592344,0,1918.340377,71.018463,0.559625,434.152199,230.697547,2023-04-08 09:04:00
6,G2 Esports,LEC,1013,578,435,0.570582,0,1861.263937,71.847519,0.564581,399.606113,209.608760,2023-05-16 15:11:00
7,Dplus KIA,LCK,617,433,184,0.701783,0,1861.164882,71.581888,0.592432,228.490182,119.344572,2023-03-23 10:44:00
9,EDward Gaming,LPL,1191,736,455,0.617968,0,1833.041576,71.958942,0.571624,496.150466,261.452717,2023-04-11 13:07:00
11,Hanwha Life Esports,LCK,853,423,430,0.495897,0,1807.642469,69.016406,0.571720,362.689244,191.382484,2023-04-02 09:15:00
13,LNG Esports,LPL,823,412,411,0.500608,0,1789.394784,72.611305,0.591977,379.864542,202.438995,2023-04-04 12:11:00
14,Cloud9,LCS,1085,605,480,0.557604,0,1789.030457,59.919346,0.574978,451.609371,233.146775,2023-05-17 13:43:00
17,Liiv SANDBOX,LCK,445,213,232,0.478652,0,1769.155880,69.014914,0.592139,197.313719,104.193254,2023-03-22 10:36:00
18,Oh My God,LPL,1029,474,555,0.460641,0,1765.813370,71.448747,0.559609,436.201612,223.749724,2023-04-08 13:18:00
19,Top Esports,LPL,677,389,288,0.574594,0,1755.243318,72.057753,0.580066,273.738182,139.611063,2023-04-02 12:50:00
27,Weibo Gaming,LPL,557,302,255,0.542190,0,1727.553177,72.560904,0.594536,252.706639,134.949453,2023-04-03 10:59:00
29,Golden Guardians,LCS,287,111,176,0.386760,0,1721.214337,70.864262,0.558665,127.402671,67.959464,2023-05-14 16:36:00
30,Royal Never Give Up,LPL,1143,739,404,0.646544,0,1714.875803,72.461432,0.583447,473.734041,251.142597,2023-04-01 12:05:00
38,MAD Lions,LEC,676,334,342,0.494083,0,1695.711851,65.737715,0.584468,301.907087,160.869155,2023-05-13 17:05:00
39,Evil Geniuses.NA,LCS,366,192,174,0.524590,0,1691.744681,67.619417,0.585426,166.852126,87.636594,2023-03-31 22:45:00
42,DRX,LCK,1098,571,527,0.520036,0,1689.232790,61.622956,0.494025,439.096256,225.475688,2023-03-19 09:26:00
44,Team BDS,LEC,72,30,42,0.416667,0,1680.847413,72.360829,0.582511,30.183166,16.469519,2023-04-23 19:40:00
47,Kwangdong Freecs,LCK,901,426,475,0.472808,0,1677.604093,61.240961,0.484499,403.073192,215.712447,2023-03-17 09:05:00
65,FlyQuest,LCS,417,190,227,0.455635,0,1650.145277,70.888778,0.574269,194.618819,102.510722,2023-04-09 00:07:00
68,ThunderTalk Gaming,LPL,343,127,216,0.370262,0,1648.356344,71.841966,0.592561,138.188066,71.698338,2023-03-30 11:59:00
72,Team Vitality,LEC,386,172,214,0.445596,0,1637.948485,72.005713,0.584933,172.738544,91.498237,2023-04-22 18:48:00
82,Ninjas in Pyjamas.CN,LPL,364,154,210,0.423077,0,1625.352528,69.439672,0.508782,159.379559,86.977694,2023-03-25 13:00:00
87,Team Liquid,LCS,860,496,364,0.576744,0,1614.105039,66.932791,0.554640,373.434404,199.321935,2023-03-17 23:09:00
88,Invictus Gaming,LPL,1150,652,498,0.566957,0,1613.912679,66.776922,0.513745,484.511362,255.268090,2023-03-22 12:17:00
97,Fnatic,LEC,1243,758,485,0.609815,0,1605.252338,72.620249,0.587580,512.537617,271.612358,2023-04-15 17:52:00
98,BRION,LCK,487,176,311,0.361396,0,1604.112090,68.337368,0.491438,200.968887,107.645277,2023-03-17 11:53:00
100,Team WE,LPL,1107,578,529,0.522132,0,1603.068195,67.016617,0.591783,498.114354,261.714025,2023-03-31 12:05:00
106,100 Thieves,LCS,444,204,240,0.459459,0,1598.070175,69.785580,0.582777,181.145054,89.932534,2023-03-26 00:23:00
111,Nongshim RedForce,LCK,297,114,183,0.383838,0,1588.102097,36.706755,0.486656,127.251513,68.753829,2023-03-19 06:52:00
119,KOI (Spanish Team),LEC,38,17,21,0.447368,0,1577.540826,60.766348,0.579427,18.129202,10.189942,2023-04-16 19:37:00
120,FunPlus Phoenix,LPL,656,395,261,0.602134,0,1576.524093,63.827583,0.505594,270.089684,142.634130,2023-03-23 13:00:00
122,Astralis,LEC,457,225,232,0.492341,0,1574.429320,71.708896,0.584751,182.310327,92.462197,2023-04-16 17:06:00
129,Counter Logic Gaming,LCS,696,336,360,0.482759,0,1564.587089,67.193728,0.584382,321.127325,167.945502,2023-03-26 22:57:00
141,Rare Atom,LPL,716,304,412,0.424581,0,1551.128987,61.008658,0.502703,311.742388,162.755901,2023-03-26 13:32:00
148,SK Gaming,LEC,395,184,211,0.465823,0,1546.525845,57.558267,0.591374,186.176098,99.867698,2023-04-15 19:46:00
149,TSM,LCS,1153,695,458,0.602775,0,1546.476212,69.017374,0.555351,448.445440,236.088101,2023-03-17 22:08:00
151,Anyone's Legend,LPL,524,230,294,0.438931,0,1546.013022,67.809572,0.498225,211.752234,112.398346,2023-03-26 10:18:00
153,LGD Gaming,LPL,835,367,468,0.439521,0,1545.091051,55.680865,0.503466,380.909126,201.633999,2023-03-24 10:08:00
198,Excel Esports,LEC,173,64,109,0.369942,0,1514.252750,72.256232,0.578864,75.091036,40.440209,2023-03-27 15:58:00
278,Team Heretics,LEC,24,8,16,0.333333,0,1478.673501,66.041777,0.575617,11.151701,5.991388,2023-03-27 21:00:00
348,Ultra Prime,LPL,272,93,179,0.341912,0,1460.073190,36.890041,0.504139,107.469692,54.187961,2023-03-25 10:43:00
531,Immortals,LCS,337,166,171,0.492582,0,1379.860678,56.593654,0.548881,147.025587,75.752154,2023-03-18 01:18:00
546,Dignitas,LCS,489,206,283,0.421268,0,1369.315275,66.060757,0.548726,227.131221,119.054176,2023-03-18 00:15:00

In [9]:
leagues = ["LCK", "LPL", "LEC", "LCS"]
for league in leagues:
    print(league)
    lst = ratings.loc[
        (ratings["league"] == league) & (ratings["last_game_date"].dt.year == 2023),
        "team",
    ].unique()
    print(", ".join(map(lambda x: f"'{x}'", lst)))

LCK
'T1', 'Gen.G', 'KT Rolster', 'Dplus KIA', 'Hanwha Life Esports', 'Liiv SANDBOX', 'DRX', 'Kwangdong Freecs', 'BRION', 'Nongshim RedForce'
LPL
'JD Gaming', 'Bilibili Gaming', 'EDward Gaming', 'LNG Esports', 'Oh My God', 'Top Esports', 'Weibo Gaming', 'Royal Never Give Up', 'ThunderTalk Gaming', 'Ninjas in Pyjamas.CN', 'Invictus Gaming', 'Team WE', 'FunPlus Phoenix', 'Rare Atom', 'Anyone's Legend', 'LGD Gaming', 'Ultra Prime'
LEC
'G2 Esports', 'MAD Lions', 'Team BDS', 'Team Vitality', 'Fnatic', 'KOI (Spanish Team)', 'Astralis', 'SK Gaming', 'Excel Esports', 'Team Heretics'
LCS
'Cloud9', 'Golden Guardians', 'Evil Geniuses.NA', 'FlyQuest', 'Team Liquid', '100 Thieves', 'Counter Logic Gaming', 'TSM', 'Immortals', 'Dignitas'

In [10]:
msi_teams = [
    "T1",
    "JD Gaming",
    "Bilibili Gaming",
]
ratings.loc[ratings["team"].isin(msi_teams)]

,team,league,games,win,loss,winrate,streak,point,rd,sigma,error,error_square,last_game_date
0,T1,LCK,1430,950,480,0.664336,0,2051.115758,71.683266,0.568172,565.012378,298.512855,2023-05-18 15:20:00
1,JD Gaming,LPL,719,423,296,0.588317,0,2050.378381,71.817518,0.572468,294.536165,150.271794,2023-05-18 15:20:00
3,Bilibili Gaming,LPL,529,273,256,0.516068,0,1949.952740,69.928869,0.557382,241.781183,126.489030,2023-05-19 14:01:00

In [11]:
team_names = {
    # LCK
    "T1": "T1",
    "GEN": "Gen.G",
    "DK": "Dplus KIA",
    "LSB": "Liiv SANDBOX",
    "KT": "KT Rolster",
    "HLE": "Hanwha Life Esports",
    "BRO": "BRION",
    "DRX": "DRX",
    "NS": "Nongshim RedForce",
    "KDF": "Kwangdong Freecs",
    # LPL
    "BLG": "Bilibili Gaming",
    "JDG": "JD Gaming",
    # LEC
    "G2": "G2 Esports",
    "MAD": "MAD Lions",
    # LCS
    "C9": "Cloud9",
    "GG": "Golden Guardians",
}
teams = {}
lst_team = []
for name in team_names.values():
    team_id = get_team_id(teams_id, name)
    row = ratings.loc[ratings["team"] == name].iloc[0]
    teams[team_id] = Team(
        name=name,
        league=row["league"],
        win=row["win"],
        loss=row["loss"],
        streak=row["streak"],
        point=row["point"],
        rd=row["rd"],
        sigma=row["sigma"],
        last_game_date=row["last_game_date"],
    )
    lst_team.append(teams[team_id])

In [12]:
glicko = GlickoSystem()

In [13]:
matches = [
    ("T1", "BLG"),
]

columns = ["Team1", "Point1", "Winprob1", "sum", "Winprob2", "Point2", "Team2"]
probs = pd.DataFrame(columns=columns)
for team1_name, team2_name in matches:
    team1 = teams[get_team_id(teams_id, team_names[team1_name])]
    team2 = teams[get_team_id(teams_id, team_names[team2_name])]
    lst = [
        team1.name,
        team1.point,
        team1.get_win_probability(glicko, team2) * 100,
        0,
        team2.get_win_probability(glicko, team1) * 100,
        team2.point,
        team2.name,
    ]
    df = pd.DataFrame(data=[lst], columns=columns)
    probs = pd.concat([probs, df], ignore_index=True)
probs["sum"] = probs[["Winprob1", "Winprob2"]].sum(axis=1)
probs

,Team1,Point1,Winprob1,sum,Winprob2,Point2,Team2
0,T1,2051.115758,63.841897,100.015623,36.173726,1949.95274,Bilibili Gaming

In [15]:
columns = ["Team1", "Point1", "2:0", "2:1", "1:2", "0:2", "Point2", "Team2"]
probs = pd.DataFrame(columns=columns)
for team1_name, team2_name in matches:
    team1 = teams[get_team_id(teams_id, team_names[team1_name])]
    team2 = teams[get_team_id(teams_id, team_names[team2_name])]
    team1_prob = team1.get_win_probability(glicko, team2)
    team2_prob = team2.get_win_probability(glicko, team1)
    lst = [
        team1.name,
        team1.point,
        team1_prob**2 * 100,
        (team1_prob**2) * team2_prob * 2 * 100,
        (team2_prob**2) * team1_prob * 2 * 100,
        team2_prob**2 * 100,
        team2.point,
        team2_name,
    ]
    df = pd.DataFrame(data=[lst], columns=columns)
    probs = pd.concat([probs, df], ignore_index=True)
probs["Winprob1"] = probs[["2:0", "2:1"]].sum(axis=1)
probs["Winprob2"] = probs[["1:2", "0:2"]].sum(axis=1)
columns = [
    "Team1",
    "Point1",
    "Winprob1",
    "2:0",
    "2:1",
    "1:2",
    "0:2",
    "Winprob2",
    "Point2",
    "Team2",
]
probs[columns]

,Team1,Point1,Winprob1,2:0,2:1,1:2,0:2,Winprob2,Point2,Team2
0,T1,2051.115758,70.245165,40.757878,29.487286,16.707915,13.085384,29.7933,1949.95274,BLG

In [16]:
columns = [
    "Team1",
    "Point1",
    "Winprob1",
    "3:0",
    "3:1",
    "3:2",
    "2:3",
    "1:3",
    "0:3",
    "Winprob2",
    "Point2",
    "Team2",
]
probs = pd.DataFrame(columns=columns)
for team1_name, team2_name in matches:
    team1 = teams[get_team_id(teams_id, team_names[team1_name])]
    team2 = teams[get_team_id(teams_id, team_names[team2_name])]
    team1_prob = team1.get_win_probability(glicko, team2)
    team2_prob = team2.get_win_probability(glicko, team1)
    lst = [
        team1.name,
        team1.point,
        0,
        team1_prob**3 * 100,
        (team1_prob**3) * team2_prob * 3 * 100,
        (team1_prob**3) * (team2_prob**2) * 6 * 100,
        (team2_prob**3) * (team1_prob**2) * 6 * 100,
        (team2_prob**3) * team1_prob * 3 * 100,
        team2_prob**3 * 100,
        0,
        team2.point,
        team2.name,
    ]
    df = pd.DataFrame(data=[lst], columns=columns)
    probs = pd.concat([probs, df], ignore_index=True)
probs["Winprob1"] = probs[["3:0", "3:1", "3:2"]].sum(axis=1)
probs["Winprob2"] = probs[["2:3", "1:3", "0:3"]].sum(axis=1)
probs

,Team1,Point1,Winprob1,3:0,3:1,3:2,2:3,1:3,0:3,Winprob2,Point2,Team2
0,T1,2051.115758,74.687842,26.020603,28.237864,20.429375,11.575574,9.065813,4.733471,25.374859,1949.95274,Bilibili Gaming